<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TCX2DB.Properties.Settings.WorkoutsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Workouts.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>